html,
body {
    margin: 0;
    padding: 0%;
    width: 100%;
    font-family: "filson-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F5F1E6;
}

img {
    display: block;
    max-width: 100%;
}

#container {
    max-width: 80%;
    margin: auto;
}

#hamburger {
    position: fixed;
    background-color: #7FA7A0;
    border: 2px solid black;
    border-radius: 50px;
    padding: 1em 1em 1em 1em;
    bottom: 5%;
    right: 5%;
}

.fa-bars {
    font-size: 24px;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #7FA7A0;
    padding: 1em;
    margin-bottom: 2em;
    display: none;
}

#navbar ol {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 2em;
}

#navbar ol li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

#navbar ol li:hover {
    text-decoration: underline;
    cursor: pointer;
}

header {
    background-color: #D3E0DD;
    margin: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "r41-divulga", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    line-height: .7em;
    margin: 0;
}

h2 {
    font-family: "r41-divulga", sans-serif;
    font-weight: 400;
    text-align: center;
}

.project div {
    background-color: rgb(187, 202, 207);
    aspect-ratio: 3/2;
    overflow: hidden;
    /* margin-bottom: 0.5em; */
    transition: all 0.5s ease;
}

.project div:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.project div img {
    height: 100%;
    margin: auto;
}

#abw-cover {
    background-color: rgb(210, 224, 237);
}

#bittersweet-cover {
    background-color: rgb(163, 198, 157);
}

#mindscape-cover img, #axiable-cover img {
    width: 100%;
    height: auto;
}


.project p {
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
  
    #container {
        max-width: 70%;
    }

    #hamburger {
        display: none;
    }

    #navbar {
        display: block;
    }

    #columns {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .project {
        flex: 1;
        min-width: 40%;
    }
}
