html,
body {
    margin: 0;
    padding: 0%;
    width: 100%;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #eaeaea;
    background-color: #050203;
}

img {
    display: block;
    max-width: 100%;
}

p {
    line-height: 1.4em;
}

a {
    color: #eaeaea;
    font-style: normal;
}

#container {
    max-width: 80%;
    margin: auto;
}

/* #hamburger {
    position: fixed;
    background-color: #7FA7A0;
    border: none;
    border-radius: 100px;
    padding: 1em 0.8em 1em 0.8em;
    bottom: 5%;
    right: 5%;
} */

/* .fa-bars {
    font-size: 24px;
    color: black;
} */

/* #sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #7FA7A0;
    width: 100%;
    height: 100%;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

#sidebar img {
    margin: auto;
} */

#navbar {
    position: sticky;
    top: 0;
    z-index: 5;
    /* color: #F5F1E6; */
    background-color: #0a5a61;
    padding: 1em;
    filter: drop-shadow(0 2px 2px #050203);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 2em; */
    /* display: none; */
}

#navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 3em;
}

#navbar ul li,
#sidebar ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

#navbar ul li:hover {
    /* text-decoration: underline; */
    cursor: pointer;
}

.back {
    /* position: sticky;
        top: 10%; */
    margin-left: 1em;
}

header {
    position: relative;
    /* background-color: #0b6d68; */
    background: linear-gradient(180deg, #0A5A61 0%, #050203 100%);
    margin: 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    /* opacity: 0.8; */
    /* background: repeating-linear-gradient(-45deg, #F08336 0px, #F08336 5px, transparent 5px, transparent 8px), repeating-linear-gradient(45deg, #F08336 0px, #F08336 5px, transparent 5px, transparent 8px), linear-gradient(#eddac2, #eddac2); */
    transition: background-size 0.4s ease, background-color 0.4s ease;
    overflow: hidden;
}

#header-text {
    position: relative;
    z-index: 1;

    max-width: 80%;
    /* margin: auto; */
    margin-top: 10%;
    margin-bottom: 2em;
    text-align: left;
}

#headline {
    font-size: 2em;
    color: #eaeaea;
}

#headline strong {
    /* color: #eaeaea; */
    color: #29cbb5;
}

h1,
h2,
h3 {
    font-family: 'Sekuya', sans-serif;
    font-weight: 400;
}

h1 {
    /* font-family: "r41-divulga", sans-serif; */
    /* font-weight: 400; */
    font-style: normal;
    font-size: 3em;
    line-height: 1em;

    /* margin: 0; */
}

#scroll {
    text-align: center;
}

#scroll p {
    margin: 0;
}

.fa-chevron-down {
    animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}


h2 {
    text-align: center;
}

h3 {
    margin-top: 2em;
}

.project div {
    background-color: rgb(187, 202, 207);
    aspect-ratio: 3/2;
    overflow: hidden;
    /* margin-bottom: 0.5em; */
    transition: all 0.5s ease;
}

.project div:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.project div img {
    margin: auto;
}

#abw-cover {
    background-color: rgb(210, 224, 237);
}

#bittersweet-cover {
    background-color: rgb(163, 198, 157);
    display: flex;
    align-items: center;
}

#mindscape-cover img,
#axiable-cover img,
#bittersweet-cover {
    width: 100%;
}

#pixel-cover img,
#abw-cover img {
    height: 100%;
}

.project p {
    margin-bottom: 2em;
}

/* PIXEL Graphic Design Club */
#pixel-logo {
    background-color: black;
}

.posts {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.abw-logo {
    background-color: #CBD9E7;
}

.posts img {
    width: 40%;
}

/* bittersweet */
.bittersweet-ads {
    display: flex;
    justify-content: center;
    gap: 1em;
}

/* mindscape */

#mindscape-video {
    width: 100%;
}

/* Axiable */
.photogrid {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 100%;
}

iframe {
    width: 100%;
}

/* About Me Page */

#self-portrait {
    width: 70%;
    margin: auto;
    /* filter: sepia(0.2); */
}

footer {
    /* background-color: rgb(142, 130, 114); */
    border-top: 1px solid #1a3b35;
    padding: 2em;
    margin-top: 2em;
}

address {
    display: flex;
    gap: 1em;
}



/* footer p {
    margin: 0;
    padding: 0;
    text-align: center;
} */

/* Contact Page */

#contact {
    margin-bottom: 5em;
}

#contact p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 3em;
}

#email-form {
    margin: auto;
}

#email-form label,
#email-form input {
    display: block;
}

#email-form input[type=text],
#email-form textarea {
    box-sizing: border-box;
    border: 1px solid #1a3b35;
    border-radius: 8px;
    font-size: 0.8em;
    padding: 0.6em;
    margin-bottom: 1em;
    width: 100%;
}

#email-form label {
    margin-bottom: 0.2em;
}

#email-form input[type=submit] {
    font-size: 1.2em;
    background-color: #7FA7A0;
    padding: 0.4em 0.8em 0.4em 0.8em;
    border: none;
    border-radius: 0.5em;
    transition: all 0.25s;
}

#email-form input[type=submit]:hover {
    cursor: pointer;
    color: rgb(208, 232, 230);
    background-color: #1a3b35;
}

.selected {
    /* text-decoration: underline; */
}

.hidden {
    display: none;
}

/* .hidden {
  display: none;
  opacity: 0;
  
  transition:
    opacity 0.3s ease,
    display 0.3s ease;
} */

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #0b6d68; */
    background: linear-gradient(180deg, #0A5A61 0%, #050203 100%);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* z-index: -2; */
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    /* -webkit-user-select: none; */
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}


@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (min-width: 768px) {

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }

    #headline {
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
    }

    #container {
        max-width: 60%;
    }

    #logo {
        margin-left: 2%;
    }

    #navbar ul {
        justify-content: right;
        margin-right: 5%;
    }

    #hamburger {
        display: none;
    }

    /* #navbar {
        display: block;
    } */

    #columns {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .project {
        flex: 1;
        min-width: 40%;
    }

    #aboutme-flex {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1em;
    }

    #aboutme-text {
        flex: 1;
    }

    #self-portrait {
        flex: 1;
    }

    #email-form {
        width: 50%;
    }

    .back {
        position: sticky;
        top: 10%;
        margin-left: 5em;
    }

    .back:hover {
        cursor: pointer;
    }
}